.btn {
    transition: all 300ms linear !important;
}

.btn:hover {
    box-shadow: 3px 3px 0px 0px #000000;
}


.back_to_top {
    -webkit-animation: mover 3000ms infinite ease-in-out !important;
    animation: mover 3000ms infinite ease-in-out !important;
}

@keyframes mover {
    0% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0px);
    }
}